<link href="https://fonts.googleapis.com/css?family=Itim|Kalam&display=swap" rel="stylesheet">

<section class="todoapp">
  <header class="header">
    <h1>Dressage Show Checklist:</h1>
    <form id="new-form">
      <input type="text" class="new-todo" placeholder="What to pack:   "/>
    </form>
  </header>

  <div class="rowa">
    <div class="columna">
      <section class="main">
        <ul class="todo-list">
          <li>
            <div class="view">
              <input class="toggle" type="checkbox"/>
              <label>

              </label>
            </div>
          </li>
        </ul>
      </section>
    </div>

</section>

<section class="author">
A <%= link_to "todo-mvc", "http://todomvc.com" %>
application built by
<%= link_to "Rebecca Douglass", "https://github.com/beccadouglass" %>
</section>

