<link href="https://fonts.googleapis.com/css?family=Itim|Kalam&display=swap" rel="stylesheet">

<section class="todoapp">
  <header class="header">
    <h1>To Do:</h1>
    <form id="new-form">
      <input type="text" class="new-todo" placeholder="What needs to be done:"/>
    </form>
  </header>

  <div class="container">
    <section class="main">
      <ul class="todo-list">
        
      </ul>
    </section>
  </div>

</section>

<section class="author">
A <%= link_to "todo-mvc", "http://todomvc.com" %>
application built by
<%= link_to "Rebecca Douglass", "https://github.com/beccadouglass" %>
</section>

